* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    border: 2px solid salmon;
    width: 200px;
    height: 200px;
    position: relative;
    margin-bottom: 3rem;

    .circle {
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: rgb(174, 106, 98);
        border-radius: 50%;
    }

    .anim-1 {
        left: 80px;
        animation: animation-1 1.2s alternate infinite ease-in-out;
    }

    .anim-2 {
        background-color: brown;
        animation: animation-2 1.2s alternate infinite ease-in-out;
    }

    .anim-3 {
        background-color: rgb(96, 96, 195);
        animation: animation-3 2s infinite ease-in-out;
    }

    .anim-4 {
        animation-delay: 2s;
        animation: animation-4 2s infinite ease-in-out;
    }
}

.slider {
    width: 900px;
    height: 400px;
    overflow: hidden;
    margin-bottom: 3rem;

    .slider-content {
        position: relative;
        height: 400px;
        width: calc(904px * 3);
        animation: slider 10s infinite;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes slider {
    0% {
        left: 0;
    }

    10% {
        left: 0px;
    }

    20% {
        left: -904px;
    }

    50% {
        left: -904px;
    }

    70% {
        left: -1804px;
    }

    90% {
        left: -1804px;
    }

    100% {
        left: 0;
    }




}







@keyframes animation-4 {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        left: 156px;
        top: 0;
        background-color: rgb(96, 96, 195);
    }

    50% {
        left: 156px;
        top: 156px;
        background-color: brown;
    }

    75% {
        left: 0;
        top: 156px;
        background-color: rgb(96, 96, 195);
    }

    100% {
        left: 0;
        top: 0;
    }
}



@keyframes animation-3 {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        left: 156px;
        top: 0;
    }

    50% {
        left: 0;
        top: 156px;
    }

    75% {
        left: 156px;
        top: 156px;
    }
}



@keyframes animation-2 {
    0% {
        left: 0;
        top: 156px;
    }

    100% {
        left: 156px;
        top: 0;

    }
}

@keyframes animation-1 {
    0% {
        top: 0;
    }

    50% {
        transform: rotateX(90deg);
    }

    100% {
        top: 156px;
    }
}